<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/carga.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
</head>
<body>
    <!--CABECERA-->
    <%- include('./partials/header') %>

    <!--FORMULARIO DE CARGA-->
    <section class="formulario">
        <form method="POST" class="form" action="/products/<%= data.id %>/edit?_method=PUT">
            <h2>MODIFICA UN PRODUCTO</h2>
            <label for="name">Producto</label>
            <input name="name" type="text" value="<%= data.name %>" >
            <label for="image">Imagen</label>
            <input name="image" type="file">
            <label for="price">Precio</label>
            <input type="number" name="price" value="<%= data.price %>">
            <button type="submit">GUARDAR</button>
        </form>
    </section>

    <!--FOOTER-->
    <%- include('./partials/footer') %> 
</body>
</html>